{
	"texconv":         "C:\\Program Files (x86)\\TBotR\\ARchive_neXt\\texconv.exe",
	"desktopACModels": "C:\\Users\\james_000\\Desktop\\ACModels",
	"missingNo":       "C:\\Users\\james_000\\Desktop\\missingNo.png",
	"scatterx":        "C:\\Users\\james_000\\Desktop\\scatterx",
	"scattery":        "C:\\Users\\james_000\\Desktop\\scattery",
	"scatterz":        "C:\\Users\\james_000\\Desktop\\scatterz",
	"temp":            "C:\\Users\\james_000\\Desktop\\temp.txt",
	"temp3":           "C:\\Users\\james_000\\Desktop\\temp3.txt",
	"dumpFolder":      "D:\\Unity_Dump\\ACModels",
	"dictionaryDoc":   "D:\\Unity_Dump\\Dictionary\\dictionaryDoc.txt",
	"lightDict":       "D:\\Unity_Dump\\Dictionary\\lightDict",
	"lightDict2":      "D:\\Unity_Dump\\Dictionary\\lightDict2.txt",
	"LZOPath":         "H:\\Programs\\AC Explorer\\lzo.dll",
	"ACUnityFolder":   "H:\\Programs\\Ubisoft\\Assassin's Creed Unity"
}
